@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
*{
  font-family: 'Noto Sans KR', sans-serif;

}
.shcoolLogo {
    background-image: url('../이미지/mirim.png');
    width: 19vw;
    height: 19vw;
    background-size: cover;
}

.school-link:hover {
    color: blue;
}
.bx{
color : #33549b; 
}
.school-location {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    width: 65%;
    margin: auto;
    margin-top: 60px;
    margin-left : 22%
}

.school-name {
    font-size: 28px;
 
}
.school-explainP{
    margin-top: 30px;

}
.school-expalin-title{
    font-size: 25px;
    border-radius: 5px;
    height: 200px;
    color :#092258; 
}
.school-explain{
    width: 65%;
    margin: auto;

}
.school-explainP1{
  margin-top : 35px;
  border-radius: 20px;
  padding-left:30px;
  padding-top : 40px;
  padding-bottom : 40px;
  padding-right : 30px;
  border : 2px solid #092258;
}

.school-class{
    width: 65%;
    margin: auto;
    margin-bottom: 100px;
}

  /* 드롭다운 */
  .dropbtn {
    background-color:#a4b4d8;
    color: black;
    padding: 16px;
    margin-top: 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 5rem;
    width : 200px;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #7086b9;
    
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    color: #092258;
  }

  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #cac7c7;
    min-width: 550px;
    padding: 15px;
    overflow: auto;
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
  }
  .school-expalin-school{
    font-size: 19px;
  }
  
  .show {display: block;}

/* 드롭다운 호버 */
  .hoverdropbtn {
    background-color: #cac7c7;
    color: black;
    margin-top: 40px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
  }
  
  .hoverdropdown {
    position: relative;
    display: inline-block;
  }
  
  .hoverdropdown-content {
    display: none;
    position: absolute;
    background-color: #cac7c7;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
  }  
  .hoverdropdown:hover .dropdown-content {display: block;}
  
  .hoverdropdown:hover .dropbtn {background-color: #3e8e41;}