
.board_img > .img_main_text{
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate( -50%, -50% );
    color: white;
    font-size: 30px;
}


.img_sub_text{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate( -50%, -50% );
    color: white;
    font-size: 20px;
}

.board_view{
    margin: 0px auto;
    margin-top:20px;
    text-align: center;
}

td{
    border : none;
    border-collapse: collapse;
}

.line{
    border-bottom: 2px solid #173473;
}

.content{
    height:500px;
    background-color: rgb(237, 237, 237);
}

.content_border{
    height : auto;
    max-height : 400px;
    overflow: auto;
    font-weight: 500;
    border-collapse: collapse;
    border : 1px solid black;
}


