.board_main_img{
    background: linear-gradient( to top, white, #395ca9 );    
    height: 350px;
    justify-content: center; /* 가로 가운데 정렬 */
    align-items: center; /* 세로 가운데 정렬 */
    margin-bottom: 30px;
}


.board_view{
    margin: 0px auto;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}

p{
    color: #5b5b5b;
    font-size: medium;
}
td{
    border : none;
}


td > h1{
    margin-left: 100px;
    margin-right: 100px;
    border-bottom: 2px solid #173473;
    padding-bottom: 20px;

}

tr > .line{
    margin-top: 30px;
    padding: 0px none;
    margin-left: 200px;
    margin-right: 200px;
}

.content{
    height:500px;
    background-color: rgb(237, 237, 237);
}

.content_border{
    width: auto;
    height : auto;
    max-height : 400px;
    overflow: auto;
    font-weight: 450;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
    border-collapse: collapse;
    font-size: 18px;
}

tr > .subContent{
    padding-left: 200px;
}