.board_main_img{
    background: linear-gradient( to top, white, #395ca9 );
    width: 100vw;
    height: 45vh;
    border: none;
    justify-content: center; /* 가로 가운데 정렬 */
    align-items: center; /* 세로 가운데 정렬 */
    margin-bottom: 30px;
}

.board_main_img > h1{
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate( -50%, -50% );
    color: white;
    font-size: 30px;
}


.img_sub_text{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate( -50%, -50% );
    color: white;
    font-size: 20px;
    border: none;
}

.board_view{
    margin: 0px auto;
    margin-top:20px;
    text-align: center;
}

td{
    border : none;
    border-collapse: collapse;
}

.line{
    border-bottom: 2px solid #173473;
    margin-top: 30px;
}

.content{
    height:500px;
    background-color: rgb(237, 237, 237);
}

.content_border{
    height : auto;
    max-height : 400px;
    overflow: auto;
    font-weight: 500;
    border-collapse: collapse;
    border : 1px solid black;
}


