                    /* Google Fonts  */
                    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
                    @import url('https://fonts.googleapis.com/css2?family=Bentham&family=Nanum+Pen+Script&family=Noto+Serif&display=swap');

                    /* base */
                    * {
                        box-sizing: border-box;
                        margin: 0;
                        padding: 0;
                        font-family: 'Noto Sans KR', sans-serif;
                    }
                    
                    html {
                        scroll-behavior: smooth;
                    }
                    
                    html,
                    body {
                        overflow-x: hidden;
                        background-color: #FFF7E2;
                        text-align: center;
                    }

                    
                    #hr1 {
                        background-color: black;
                        width: 70%;
                        height: 3px;
                        margin-left : auto;
                        margin-right : auto;
                        border: 0;
                    }

                    #hr2 {
                        background-color: black;
                        width: 70%;
                        height: 1px;
                        margin-left : auto;
                        margin-right : auto;
                        margin-top: 10px;
                        border: 0;
                    }


                    #circle > h3{
                        width : 150px;
                        height : 50px;
                        border-radius: 50px;
                        background-color:#FFF7E2;
                        border: solid 1.5px;
                        color : #101010;
                        margin-left: 300px;
                        margin-right : 680px;
                        padding-top: 10px;
                    }
                      #square {
                        margin-left: 80px;
                        width : 200px;
                        height : 50px;
                        border: solid 1.5px;
                        text-align: center;
                        line-height: 50px;
                      }
                    
                    ul {
                        list-style: none;
                    }
                    
                    a {
                        text-decoration-line: none;
                    }
                    
                    body {
                        position: relative;
                        font-family: 'Noto Sans KR', sans-serif;
                        font-size: 1rem;
                        color: rgb(19, 19, 19);
                    }
                    
                    p {
                        font-size: 1em;
                        font-family: 'Noto Sans KR', sans-serif;
                    }
                    
                    h1{
                        font-size : 40px;
                        text-align: center;
                    }
                    /* nav */
                    
                    .container {
                        margin-left: 1rem;
                        margin-right: 1rem;
                    }
                    
                    header {
                        background-color: #173473;
                    }
                    
                    nav {
                        height: 44px;
                        /* nav글자 높이 */
                        /* 수평배열 */
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        /* nav글자 중앙정렬 */
                    }
                    
                    nav a {
                        color: #fff;
                        font-size: 0.8rem;
                        /* 글자 크기*/
                        font-weight: bold;
                    }
                    
                    .nav-toggle {
                        /* toggle버튼이 보이지 않도록  */
                        display: none;
                        /* visibility: hidden; */
                    }
                    
                    .nav-toggle i {
                        color: #fff;
                    }
                    
                    .nav-toggle {
                        /* toggle버튼이 보이지 않도록  */
                        display: none;
                        /* visibility: hidden; */
                    }
                    
                    .nav-toggle i {
                        color: #fff;
                    }
                    
                    .nav-list {
                        /* 수평배열 */
                        display: flex;
                        column-gap: 5rem;
                        /* 12px = nav글자사이의 거리 */
                        margin-right: 100px;
                    }
                    
                    .nav-link {
                        display: block;
                        /* a 태그가 한 줄 전체를 차지해서 링크가 동작하도록... */
                    }
                    
                    .nav-link {
                        color: #fff;
                    }
                    
                    .nav-link:hover {
                        text-align: center;
                        background-color: #fff;
                        color: #000;
                        border-radius: 0.5rem;
                    }
                    
                    .nav-item:nth-child(5) .nav-link {
                        text-align: center;
                        background-color: #fff;
                        color: #173473;
                        border-radius: 0.7rem;
                        color: black;
                    }
                    
                    .grid-item:hover {
                        cursor: pointer;
                    }

                    #current_date{
                        font-size: 20px;
                        margin-top : 50px;
                        color: rgba(0, 0, 0, 0.65);
                        margin-bottom: 50px;
                    }
                    
                    button {
                        border: none;
                        background-color: #FFE39A;
                        padding-left: 80px;
                        padding-right: 80px;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        border-radius: 50px;
                        border: solid 1px #FFCA41;
                        font-size: 1.5rem;
                        margin-left: 30px;
                    }
                    

                    .radiobutton {
                        width: 16px;
                        height: 16px;
                        margin-right : 10px;
                        margin-left : 13px;
                        vertical-align: middle;
                        width : 20px;
                        height : 20px
                    }

                    .radiobutton  + label {
                        font-size: 18px;
                        vertical-align: middle;
                        font-weight: lighter;
                    }
                    
                    a {
                        color: inherit;
                        text-decoration: inherit;
                    }
                    
                    .footer {
                        margin-top: 5rem;
                        padding: 30px 0;
                        background: #FFF7E2;
                        color: #A6A6A6;
                        font-size: 0.1rem;
                        display: flex;
                    }
                    
                    .grid-container-footer {
                        width: 50%;
                        display: grid;
                        grid-template-columns: repeat(2, 30%);
                        /* grid-column-gap: 0.2rem; */
                    }
                    
                    .margin {
                        margin-left: 5rem;
                    }
                    .answer{
                        margin-top : 20px;
                        margin-bottom : 20px;
                    }
                    .question{
                        text-align: left;
                        margin-left : 300px;
                        margin-right : 300px;

                    }
                    /* 태블릿 */
                    
                    @media screen and (max-width: 820px) {
                        .intor-school {
                            width: 100%;
                            margin: 0 auto;
                            place-items: center;
                            display: grid;
                            grid-template-columns: repeat(3, 33.3%);
                            grid-row-gap: 3vw;
                        }
                    }
                    /* mobile  */
                    
                    @media screen and (max-width: 753px) {
                        .nav-link {
                            font-size: 0.2rem;
                            display: inline-block;
                        }
                        .nav-link:hover {
                            border-radius: 0.5rem;
                        }
                        .nav-list .nav-item:nth-child(3) {
                            border-radius: 0.5rem;
                        }
                    }
                    
                    @media screen and (max-width: 690px) {
                        /* 햄버거 메뉴 보이게 하기 */
                        .nav-toggle {
                            display: block;
                            /*nav-toggle 즉, 밥 아이콘 제일 앞으로 */
                            position: absolute;
                            /*nav-logo 가운데 정렬 */
                            cursor: pointer;
                            /* 마우스 포인터: 손 => 토글에 가져 가면 마우스 커서 생성*/
                        }
                        .nav-logo {
                            /*밥 아이콘을 중앙 정렬 시켜서 아래에 있는 메뉴토글 버튼 보이게*/
                            margin: 0 auto;
                            /*가운데 정렬*/
                        }
                        /* nav의 글자 햄버거 메뉴 안으로 수직으로 flex 방향 바꾸기 */
                        .nav-list {
                            flex-direction: column;
                            /*수직*/
                            position: absolute;
                            /* 원래 있던 자리의 (0,0)위치 */
                            left: 0;
                            /* 왼쪽 정렬 */
                            right: 0;
                            /* 넓이를 100%로 채움 */
                            top: 44px;
                            /* nav높이 -> top높이 부분을 nav아래로 맞춘다. */
                            width: 100%;
                            background-color: #F5F5F5;
                            /* display: none; toggle 버튼이 안 보이게 하도록 toggle nav바가  */
                            /* 영역에 넘쳐나가게 되면 아예 보이지 않게 감추는 것 */
                            height: 0px;
                            /*overflow: hidden과 함께 메뉴 안 보이게 하자*/
                            overflow: hidden;
                            transition: 0.3s;
                        }
                        .nav-link {
                            color: #333333;
                        }
                        .nav-item {
                            /* nav 메뉴 글자 사이의 위아래 여백 주기*/
                            padding: 0.5rem 0;
                            border-bottom: 1px solid #333333;
                            text-align: center;
                            /* 글자 가운데 정렬 */
                        }
                        .show-menu {
                            height: 203px;
                            width: 100%;
                        }
                        .intor-school {
                            width: 100%;
                            margin: 0 auto;
                            place-items: center;
                            display: grid;
                            grid-template-columns: repeat(2, 50%);
                            grid-row-gap: 3vw;
                        }
                        .intro2 {
                            background-image: url("../이미지/intor1.png");
                            width: 16vw;
                            height: 16vw;
                            background-size: cover;
                            margin: 0 auto;
                        }
                        .grid-container {
                            width: 100%;
                            grid-template-columns: repeat(4, 12%);
                            grid-row-gap: 0.5rem;
                            margin-left: -1.5rem;
                        }
                        .grid-item {
                            font-size: 0.65rem;
                            font-weight: 500;
                            width: 6.875em;
                            height: 2.023em;
                        }
                        div.linesec2.chks2 {
                            width: 8rem;
                            height: 1.2vw;
                        }
                        .margin {
                            margin-left: 2rem;
                        }
                        .grid-container-footer {
                            width: 100%;
                            display: grid;
                            grid-template-columns: 40% 40%;
                            /* grid-column-gap: 0.2rem; */
                        }
                        div.grid-item-footer {
                            font-size: 1px;
                        }
                        .first-img {
                            height: 30vw;
                        }
                        .nav-item:hover {
                            background-color: #fff;
                        }
                        .nav-item:nth-child(3) {
                            background-color: #fff;
                        }
                    }
                    
                    @media screen and (max-width: 584px) {
                        .head2 {
                            margin-top: 3rem;
                        }
                    }
                    
                    @media screen and (max-width: 480px) {
                        #word {
                            font-size: 0.7rem;
                        }
                        div.text-grid.linesec2 {
                            width: 6rem;
                        }
                        .grid-main-T>div {
                            font-size: 0.7rem;
                        }
                        .text-container {
                            margin-top: 2rem;
                        }
                        .margin {
                            margin-left: 2rem;
                        }
                        .grid-container-footer {
                            width: 100%;
                            display: grid;
                            grid-template-columns: 40% 40%;
                            /* grid-column-gap: 0.2rem; */
                        }
                        div.grid-item-footer {
                            font-size: 1px;
                        }
                    }